$background-color: #242424;
$foreground-color: rgb(255, 255, 255, 0.9);
// $accent-color: rgb(235, 113, 0);
$accent-color: rgb(0, 154, 3);

.app > .content {
	background: #101010E0;
}

:root {
	// Color palette
	--background-color: #00000050;
	--sidebar-color: #00000020;
	--accent-color: rgb(0, 154, 3);
	--text-color: #FFFFFF;
	--input-background: rgba(30, 30, 30, 0.5);
	--option-hover: #575757;
	--label-color: #AAA;
	--header-color: #FFF;
	--additive-surface-shading: #00000033;
	--error-color: #ed3422;
	--error-shadow: 0 0 1rem 0 #801c12, inset 0 0 5px 5px rgba(0, 0, 0, 0.25);

	// Sidebar
	--sidebar-link-background: #31313100;
	--sidebar-icon-color: rgba(255, 255, 255, 0.9);
	--layout-border: 1px solid var(--unfocused-border-color);

	// Tooltip
	--tooltip-background: rgb(0, 0, 0, 0.5);
	--tooltip-backdrop-filter: blur(3px);
	--tooltip-text-color: white;

	// Rounded corners
	--border-radius: 0.5rem;
	--border-radius-tooltip: 3px;

	// Popover properties
	--popover-background: var(--tooltip-background);
	--popover-backdrop-filter: blur(4px);
	// --popover-background: var(--input-background);
	// --popover-backdrop-filter: none;

	// Focus/Blur
	--unfocused-border-color: #575757;
	--unfocused-shadow: none;
	--focused-border-color: var(--accent-color);
	--focused-shadow: 0 0 1rem 0 #006702, inset 0 0 5px 5px rgba(0, 0, 0, 0.25);

	// Button
	--button-hover-bg: rgba(0, 154, 3, 0.125);
	--button-hover-border-color: var(--accent-color);
	--button-shadow-depressed: inset 0 0 10px 5px rgba(0, 0, 0, 0.25);
	--button-subtle-bg: transparent;
	--button-subtle-bg-hovered: rgba(100, 100, 100, 0.25);

	// Dialog
	--dialog-modal-background: rgba(0, 0, 0, 0.25);
	--dialog-modal-filter: blur(3px);
	--dialog-background: #242424EE;
	--dialog-border-color: var(--unfocused-border-color);
	--dialog-box-shadow: 0 0 1rem 0 black;

	// Tabs
	--focused-tab-shadow: 0 0 5px 2px #006702;
	--focused-tab-color: var(--focused-border-color);
	--tab-bg-hovered: rgba(100, 100, 100, 0.125);

	// LargeSelect
	--largeselect-background: #212121FF;
	--largeselect-focused-background: rgba(0, 154, 3, 0.25);
	--largeselect-hover-background: #3E3E3E;

	overflow: hidden;
}
