$background-color: #242424;
$foreground-color: rgb(255, 255, 255, 0.9);
// $accent-color: rgb(235, 113, 0);
$accent-color: rgb(0, 154, 3);

:root {
	// Color palette
	--background-color: #{$background-color};
	--sidebar-color: #{darken($background-color, 3%)};
	--accent-color: #{$accent-color};
	--text-color: #{$foreground-color};
	--input-background: rgb(30, 30, 30);
	--option-hover: #{lighten($background-color, 20%)};

	// Sidebar
	--sidebar-link-background: #{lighten($background-color, 5%)};
	--sidebar-icon-color: #{$foreground-color};
	--layout-border: 1px solid var(--unfocused-border-color);

	// Tooltip
	--tooltip-background: rgb(0, 0, 0, 0.5);
	--tooltip-backdrop-filter: blur(3px);
	--tooltip-text-color: white;

	// Rounded corners
	--border-radius: 0.5rem;
	--border-radius-tooltip: 3px;

	// Popover properties
	--popover-background: var(--tooltip-background);
	--popover-backdrop-filter: blur(4px);
	// --popover-background: var(--input-background);
	// --popover-backdrop-filter: none;

	// Focus/Blur
	--unfocused-border-color: #{lighten($background-color, 20%)};
	--unfocused-shadow: none;
	--focused-border-color: var(--accent-color);
	--focused-shadow: 0 0 1rem 0 #{darken($accent-color, 10%)}, inset 0 0 5px 5px rgba(0, 0, 0, 0.25);

	// Button
	--button-hover-bg: color.change(#{$accent-color}, $alpha: 0.125);
	--button-hover-border-color: var(--accent-color);
	--button-shadow-depressed: inset 0 0 10px 5px rgba(0, 0, 0, 0.25);
	--button-subtle-bg: transparent;
	--button-subtle-bg-hovered: rgba(100, 100, 100, 0.25);

	// Dialog
	--dialog-modal-background: rgba(0, 0, 0, 0.25);
	--dialog-modal-filter: blur(3px);
	--dialog-background: var(--background-color);
	--dialog-border-color: var(--unfocused-border-color);
	--dialog-box-shadow: 0 0 1rem 0 black;
}
